body {
	background: url("../desktop-black-cat-wallpaper.jpg");
	/*cursor:url(dist/nat924.cur),auto; */
}


li {
	background: black;
	text-align: center;
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
    border: solid white 3px;
}
li:hover{
	background: pink;
	
}

h2 {
	text-align: center;
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}
h4  {
	text-align: center;
    color: #D0F8FF;
    text-shadow: 
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;

}
h6  {
	text-align: center;
    color: #D0F8FF;
    text-shadow: 
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;

}

ul{

text-align:center;

}
.nav nav-tabs {
	color:white;
	background-color: blue;	
}
#pickles{
	color:gray;
}

#displayWindow1 {
	border: solid white 1px;
	
	height:30em;
	overflow: scroll;
	color: white;
	/*padding-bottom:50px;*/
	

}

#displayWindow2 {
	border: solid white 1px;
	
	height:30em;
	overflow: scroll;
	color: white;
	/*padding-bottom:50px;*/
	

}
#displayWindow3 {
	border: solid white 1px;

	height:30em;
	overflow: scroll;
	color: white;
	/*padding-bottom:50px;*/
	

}

#stats1 { 
	background-color: black;
	float:right;
	border: solid white 2px;
	height: 30em;
	color: white;
	overflow: scroll;
	

}

#stats2 { 
	background-color: black;
	float:right;
	border: solid white 2px;
	height: 30em;
	color: white;
	overflow: scroll;
	

}
#stats3 { 
	background-color: black;
	float:right;
	border: solid white 2px;
	height: 30em;
	color: white;
	overflow: scroll;
	

}
#userInputBox1 {
	
	clear:both;
	border: solid white 1px;
	height: 5em;
	padding-top: 1em;
	color:purple;
	background: black;
	font-size: 25px;
}
#userInputBox2 {
	
	clear:both;
	border: solid white 1px;
	height: 5em;
	padding-top: 1em;
	color:purple;
	background: black;
	font-size: 25px;
}
#userInputBox3 {
	
	clear:both;
	border: solid white 1px;
	height: 5em;
	padding-top: 1em;
	color:purple;
	background: black;
	font-size: 25px;
}
#userInputBox > span {

}

#messageBox1 {
	width: 80%;
	margin-left: .6em;
	vertical-align: middle;
	color: white;
	margin-top: .3em;
	font-size:25px;
	background: purple;
}
#messageBox2 {
	width: 80%;
	margin-left: .6em;
	vertical-align: middle;
	color: white;
	margin-top: .3em;
	background: purple;
}
#messageBox3 {
	width: 80%;
	margin-left: .6em;
	vertical-align: middle;
	color: white;
	margin-top: .3em;
	background: purple;
}

#fred1 {
			float: right;
          background: #194d70;
  background-image: -webkit-linear-gradient(top, #194d70, #5ab82b);
  background-image: -moz-linear-gradient(top, #194d70, #5ab82b);
  background-image: -ms-linear-gradient(top, #194d70, #5ab82b);
  background-image: -o-linear-gradient(top, #194d70, #5ab82b);
  background-image: linear-gradient(to bottom, #194d70, #5ab82b);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 17px 5px 0px #ea84fa;
  -webkit-box-shadow: 0px 0px 30px #08ff10;
  -moz-box-shadow: 0px 0px 30px #08ff10;
  box-shadow: 0px 0px 30px #08ff10;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  padding: 10px;
  border: dotted #40ff36 9px;
  text-decoration: none;
        }

        #fred1:hover {

           background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -moz-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -ms-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -o-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: linear-gradient(to bottom, #3cb0fd, #8924ab);
  text-decoration: none;: none;
}

#fred2 {
		float: right;
        background: #194d70;
  background-image: -webkit-linear-gradient(top, #194d70, #5ab82b);
  background-image: -moz-linear-gradient(top, #194d70, #5ab82b);
  background-image: -ms-linear-gradient(top, #194d70, #5ab82b);
  background-image: -o-linear-gradient(top, #194d70, #5ab82b);
  background-image: linear-gradient(to bottom, #194d70, #5ab82b);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 17px 5px 0px #ea84fa;
  -webkit-box-shadow: 0px 0px 30px #08ff10;
  -moz-box-shadow: 0px 0px 30px #08ff10;
  box-shadow: 0px 0px 30px #08ff10;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  padding: 10px;
  border: dotted #40ff36 9px;
  text-decoration: none;
        }

        #fred2:hover  {
        	background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -moz-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -ms-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -o-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: linear-gradient(to bottom, #3cb0fd, #8924ab);
  text-decoration: none;: none;
}

#fred3 {
  float: right;
  background: #194d70;
  background-image: -webkit-linear-gradient(top, #194d70, #5ab82b);
  background-image: -moz-linear-gradient(top, #194d70, #5ab82b);
  background-image: -ms-linear-gradient(top, #194d70, #5ab82b);
  background-image: -o-linear-gradient(top, #194d70, #5ab82b);
  background-image: linear-gradient(to bottom, #194d70, #5ab82b);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 17px 5px 0px #ea84fa;
  -webkit-box-shadow: 0px 0px 30px #08ff10;
  -moz-box-shadow: 0px 0px 30px #08ff10;
  box-shadow: 0px 0px 30px #08ff10;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  padding: 10px;
  border: dotted #40ff36 9px;
  text-decoration: none;
}

        #fred3:hover {
          background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -moz-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -ms-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: -o-linear-gradient(top, #3cb0fd, #8924ab);
  background-image: linear-gradient(to bottom, #3cb0fd, #8924ab);
  text-decoration: none;: none;
}





#chat2 {
	display:none;
}

#chat3 {
	display:none;
}
p {
	color:white;
}

ul {
	color: white;
}

